body {
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 255, 0);
    background-color: #1a1a1a;
    margin: 20px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-size: 400% 400%;
    background-attachment: fixed;
    overflow: hidden;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
}

.container {
    background-color: #262626;
    border-radius: 10px;
    padding: 10px;
    width: 35%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-weight: lighter;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    position: relative;
    margin-bottom: 60px;
    align-self: auto;
}

.buttons-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

button {
    background-color: #5bc962;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #2dff3b;
}


button:disabled {
  background-color: #cccccc; /* Change this to the desired color */
  color: #888888; /* Change text color */
  cursor: not-allowed; /* Change cursor */
}

select {
    background-color: #5bc962;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;;
    outline: none;
    text-align: center;
    cursor: pointer;
  }
  
  select:hover {
    background-color: #2dff3b;
  }
  
  select option {
    background-color: #262626;
    color: #ffffff;
  }

  .conga-line {
    position: fixed;
    bottom: 0;
    left: -150%;
    width: 500%;
    z-index: -1;
    filter: blur(10px);
    animation: conga 180s linear infinite;
  }
  
  .conga-line img {
    width: 200px;
    height: auto;
    margin: 0 350px;
    opacity: 50%;
    transform: scale(3);
    bottom: 0;
  }
  
  @keyframes conga {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .lights {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .light {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    animation: float 16s infinite;
  }
  
  @keyframes float {
    0% {
      opacity: 0;
      transform: scale(0.3);
      bottom: -10%;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.2);
      bottom: 120%;
    }
  }
  
  #frenPair-container {
    width: 100%;
    font-size: 0.8em;
    padding: 10px;
    align-self: auto;
  }
  
  #frenPair-container h2 {
    font-size: 1em; /* smaller font size for h2 */
    margin: 0 0 10px; /* add some margin to separate from p elements */
  }
  
  #frenPair-container p {
    margin: 0;
    text-align: left;
    word-wrap: break-word;
    line-height: 20px; /* increased line-height to take up vertical space */
    align-self: auto;
  }
  
  #frenPair {
    display: inline-block;
    text-align: left;
    max-width: 100%;
    white-space: normal;
    font-size: 0.8em;
    align-self: auto;
    color: #fffafa;
  }
  
  #frenDetails {
    align-self: auto;
    text-align: left;
    color: #fffafa;
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    font-size: small;
  }

  .green-text {
    color: #00ff00; /* green color */
  }
  
  .white-text {
    color: #fff; /* white color */
  }

  input[type="number"] {
    background-color: #5bc962;
    color: #000000;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
}

.tooltip {
  font-size: 14px !important;
  padding: 3px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.tooltip .tooltiptext {
  font-size: 14px !important;
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%; 
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#ownerControls {
  display: none;
}

#playBtn {
  position: relative;
  transform: translateX(-57%);
  margin-bottom: 20px;
  z-index: 9999;
}

#buyBtn {
  position: relative;
  transform: translateX(-50%);
  margin-bottom: 80px;
  z-index: 9999;
}

#audioContainer {
  position: relative;
  transform: translateX(-50%);
  z-index: 9998;
}

@keyframes shakeAnimation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.shake {
  animation: shakeAnimation 1s infinite;
  transform-origin: center 50%;
}
